html, body {
  height: 100%;
  overflow: scroll;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #b85de2;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
  transition: background-color .6s;
}

.messages {
    overflow: visible;
    padding-left: 15px;
    padding-right: 15px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #b85de2;
  border-bottom: 1px solid black;
  display: flex;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;

  p {
    flex-grow: 8;
    margin: 0;
  }

  div {
    flex-grow: 2;
    text-align: center;
    line-height: 60px;
  }
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.img {
  max-width: 60%;
  height: auto;
  float: left;
}

.notification {
  padding: 5px;
  transition: background-color .6s
}

.fas:hover {
  cursor: pointer;
}

#avatar {
  height: 30px;
}

.message:hover, .notification:hover {
  background-color: #eee
}

.em {
  float:left;
  width:9%;
}

.em:hover {
  cursor: pointer;
}

.board {
  padding: 5px;
  font-size: 1.1em;
  position: absolute;
  background-color: #eee;
  width: 200px;
  bottom: 70px;

  div {
    margin: 1px;
  }
}

.far {
  font-size: 1.5em
}

.hide {
  display: none;
}